body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}
*,*:after,*:before {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    color: #f2ede3;
    background: pink;
    font-size: 0.9em;
    font-weight: 300;
}

.bl-main a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;

  &:hover {

  }
}


.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#logo {
  margin-left: 0px;
  margin-top: 0px;
  z-index:10;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {

}

.bl-main > section:nth-child(2) {

}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #ccc;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #ddd;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

  h2 {
	  font-size: 1.8em;
	  letter-spacing: 2px;
	  font-weight: 700;
	  text-transform: uppercase;
  }
}


.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
  &:before {content: "X";}
}

.bl-content, div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */

.bl-content {
  p {
	  margin: 0 auto;
	  padding-bottom: 15px;
	  font-size: 1.3em;
	  line-height: 1.4;
    strong {
	    font-size: 3em;
	    font-weight: 300;
	    margin: 0 0 20px 0;
    }
  }
  aside {
	  margin:0;
	  padding:30px;
	  width:100%;
	  background-color: #DB532B;
	  color:white;
	  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
	  position:relative;
	  transition: background-color 0.6s linear;

	  &:after {
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    top: 100%;
	    border: solid transparent;
	    border-top-color: #DA532B;
	    border-left-color:#DA532B;
	    border-width: 10px;
	    left: 10%;
	  }
  }
}



/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #EE4444;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #F98262;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #4BBE8E;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #0D8278;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	transition: opacity 0s linear;
}

.bl-box h2 {
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}
